* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  padding: 35px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}
.header_inner {
  display: flex;
  justify-content: space-between;
}

.nav {
  margin-top: 27px;
}

.nav_link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 0px 25px;
  align-items: center;
}

.nav_link:hover {
  color: rgb(43, 244, 161);
}

.intro {
  background-image: url(images/photos/first_screen.jpg);
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container_intro {
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
  color: #a580d3;
  font-size: 20px;
  margin-top: 270px;
}

.container_intro2 {
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
  color: white;
  font-size: 30px;
}
