* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  padding: 35px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}
.header_inner {
  display: flex;
  justify-content: space-between;
}

.nav {
  margin-top: 27px;
}

.nav_link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 0px 25px;
  align-items: center;
}

.nav_link:hover {
  color: rgb(43, 244, 161);
  transition: 0.3s linear;
  border-bottom: 1px solid #2cf0a1;
}

.intro {
  background-image: url(images/photos/first_screen.jpg);
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container_intro {
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
  color: #a580d3;
  font-size: 20px;
  margin-top: 270px;
}

.container_intro2 {
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
  color: white;
  font-size: 30px;
}

.about_text {
  position: absolute;
  left: 385px;
  top: 1000px;
  widows: 100%;
}

.about_text > h1 {
  font-size: 40px;
}

.about_text > p {
  font-size: 20px;
}

.about {
  background-image: url(images/photos/about_background.jpg);
  max-width: 100%;
  height: 700px;
  background-repeat: no-repeat;
}

.about_pt2 {
  background-image: url(images/photos/video_cover.jpg);
  min-width: 100%;
  height: 700px;
  background-repeat: no-repeat;
}

.sv {
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
  color: rgb(3, 3, 3);
  border-bottom: 1px solid #2e2e2e;
  padding-top: 100px;
  padding-bottom: 50px;
  color: white;
}

.services {
  background-color: #161616;
}

.services > .sv_tri {
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.design {
  padding-bottom: 50px;
}

.shap_serv {
  position: absolute;
  top: 2380px;
  left: 1447px;
}

.magn {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
  color: white;
  padding: 0;
  height: 900px;
}

.one {
  background: url(images/magnificpopup/unsplashed.jpg) center / cover no-repeat;
  height: 400px;
}
.two {
  background: url(images/magnificpopup/redstrip.jpg) center / cover no-repeat;
  height: 400px;
}
.three {
  background: url(images/magnificpopup/cookie.jpg) center / cover no-repeat;
  height: 400px;
}
.four {
  background: url(images/magnificpopup/softs.jpg) center / cover no-repeat;
  height: 400px;
}
.five {
  background: url(images/magnificpopup/essentials.jpg) center / cover no-repeat;
  height: 400px;
}

.six {
  background: url(images/magnificpopup/helmet.jpg) center / cover no-repeat;
  height: 400px;
}

.one,
.two {
  margin-top: 50px;
}

.one,
.two,
.three,
.four,
.five,
.six {
  border-radius: 2px;
}

.works {
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.works {
  margin-top: 80px;
}

.works_nav {
  font-size: 18px;
  margin-top: 30px;
}

.works_nav > a {
  text-decoration: none;
  color: black;
  margin-left: 33px;
}

.works_nav > a:hover {
  font-weight: 600;
  border-bottom: 1px solid #2cf0a1;
}

.load > a {
  border: 1px solid #2cf0a1;
  padding: 15px 30px;
  font-weight: 800;
  text-decoration: none;
  color: black;
  border-radius: 2px;
}

.load > a:hover {
  background: #2cf0a1;
  transition: 1s linear;
}
.load {
  position: absolute;
  top: 4430px;
  left: 860px;
}

.clients {
  background: #161616;
  height: 400px;
  margin-top: 500px;
}

.clients > h1 {
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: white;
  padding-top: 100px;
  padding-bottom: 50px;
  border-bottom: 1px solid #2e2e2e;
}

.clients > div > p {
  color: white;
}

.clients > div > p > a {
  color: #2cf0a1;
  text-decoration: none;
}

.clients > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
  padding-top: 50px;
}

.clients > div > p > a:hover {
  border-bottom: 1px solid #2cf0a1;
}
